.recordref
automake.err
automake.log
backup/
coreip/
dm/
list.txt
physical_plus/
pwm.jhd
pwm.naf
r3dux.b2_
R3DUX.bl0
R3DUX.bl1
r3dux.bl2
r3dux.bl3
r3dux.bl4
r3dux.bl5
r3dux.cif
r3dux.crf
r3dux.d0
R3DUX.edi
r3dux.eq3
r3dux.exf
R3DUX.fse
r3dux.fti
R3DUX.htm
r3dux.html
r3dux.imp
r3dux.ipr
r3dux.jhd
r3dux.jid
r3dux.l0
r3dux.lco
r3dux.log
R3DUX.naf
r3dux.ppn
R3DUX.prj
r3dux.rev
r3dux.rpt
r3dux.srf
R3DUX.srm
R3DUX.srr
R3DUX.srs
r3dux.svl
r3dux.tcl
r3dux.tda
r3dux.tt4
r3dux.vhd
r3dux.xrf
r3dux_dummylct.lc_
r3dux_pin.csv
r3dux_rpt.html
r3dux_tcl.ini
r3dux_toc.html
run_options.txt
scratchproject.prs
stdout.log
syndos.env
synlog/
synlog.tcl
syntax.log
syntmp/
synwork/
tda.err
